.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.section1{
    display: flex;
    justify-content: space-between;
    height:40%;
    border:2px solid black;
    background:black;
    align-items: center;
    padding:1%;
    width: 100%;
}
.buttons{
    width:50%;
    display: flex;
    justify-content: right;
}
.buttons > button{
    margin: 2%;
    padding: 2%;
    font-size: 1.5rem;
    border:none;
    border-radius: 10px;
    background-color: #1434A4;
    color:white;
    cursor: pointer;
}
.logo{
    width:80px;
}
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
    width:100%;
    background:url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=2000");
    padding-left:0 10vw;
}
.section2 > h1{
    width: 30vw;
    font-size: 5vw;
    /* color: #1434A4; */
    margin: 0 10vw;
    /* border:2px solid black; */
}
.section2 > img{
    
    width: 2vw;
    height: 5vw;
    /* border:2px solid black; */
}
.homepageimage{
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center ;
    object-fit: cover;
    margin-left:10%;
}
.section3{
    width:auto;
}
.section3__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section3__card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border:2px solid black;   */
    margin: 10px;
    width:80%;
}
.section3__card > img{
    width: 30%; 
    height: 30%;
}
.section3__card > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:50%;
}
.section4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:5%;
    flex-direction: column;
}
.sectionHeading{
    font-size: 2rem;
    color: #1434A4;
    margin-bottom:4vh;
}
.aboutCard{
    margin:10%;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    
}
.aboutCard > button {
    background: transparent;
    height:10%;
    margin:10%;
    border:none;
}
.section5{
    display: flex;
    background: paleturquoise;
    width:50%;
    justify-self: center;
    border-radius: 1vh;
    padding:2%;
    margin:0;
    flex-direction: column;
    margin:5vh;
}
.contactDetails{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    /* border:2px solid black; */
    /* justify-content: space-between; */
}
.contactButtons > div{
    display: flex;
    flex-direction: column;
    margin:5%;
}
.contactForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10%;
    background: white;
    /* border:2px solid black; */
    width:30vw;

}
.contactForm > form > input{
    width:100%;
    border:none;
    border-bottom: 2px solid black;
    height: 5vh;
    font-size: 2vh;
    margin:2vh; 
}
.contactForm > form > textarea{
    width:100%;
    border:none;
    border-bottom: 2px solid black;
    height: 10vh;
    font-size: 2vh;
    margin: 2vh;
}
.contactButtons > button{
    border:none;
    background: transparent;
    margin:5%;
    width:100%;

}
.contactButtons > button > img{
    width: 10vh;
    height: 10vh;
}

.section6{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:60vh;
    width:100%;
    background: darkslategray;  
}
@media only screen and (max-width: 900px) {
    .section2{
        flex-direction: column;
    }
    .contactDetails{
        flex-direction: column;
    }
    .contactButtons{
        flex-direction: row;
    }
    .contactButtons > button {
        width:50vw;
    }
}
.hompepageNavbar{
    width:10vw;
    border:40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1433a46a;
}