.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.section1{
    display: flex;
    justify-content: space-between;
    height:40%;
    border:2px solid black;
    background:black;
    align-items: center;
    padding:1%;
    width: 100%;
}
.buttons{
    width:50%;
    display: flex;
    justify-content: right;
}
.buttons > button{
    margin: 2%;
    padding: 2%;
    font-size: 1.5rem;
    border:none;
    border-radius: 10px;
    background-color: #1434A4;
    color:white;
    cursor: pointer;
}
.logo{
    width: 6%;
    height:6%;
}
.section2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:90vh;
    width:100%;
    background:url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=2000");
}
.section2 > img{
    
    /* border:2px solid black; */
    border-radius: 50%;
}
.homepageimage{
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center ;
    object-fit: cover;
}
.section3{
    width:auto;
}
.section3__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section3__card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border:2px solid black;   */
    margin: 10px;
    width:80%;
}
.section3__card > img{
    width: 30%; 
    height: 30%;
}
.section3__card > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:50%;
}
.section4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:5%;
    flex-direction: column;
}
.sectionHeading{
    font-size: 2rem;
    color: #1434A4;
}
.aboutCard{
    margin:10%;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    
}
.aboutCard > button {
    background: transparent;
    height:10%;
    margin:10%;
    border:none;
}
.section5{
    display: flex;
    background: #1434A4;
    width:50%;
    justify-self: center;
    border-radius: 1vh;
    padding:5%;
}
.contactDetails{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.contactButtons > div{
    display: flex;
    flex-direction: column;
    margin:5%;
}
.contactForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10%;
    background: white;
    border:2px solid black
}
.contactButtons > button{
    border:none;
    background: transparent;
    margin:5%;
}
.contactButtons > button > img{
    width: 50%;
    height: 50%;
}