.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.section1{
    display: flex;
    justify-content: space-between;
    height:40%;
    border:2px solid black;
    background:black;
    align-items: center;
    padding:1%;
    width: 100%;
}
.buttons{
    width:50%;
    display: flex;
    justify-content: right;
}
.buttons > button{
    margin: 2%;
    padding: 2%;
    font-size: 1.5rem;
    border:none;
    border-radius: 10px;
    background-color: #1434A4;
    color:white;
    cursor: pointer;
}
.buttons > button > Link{
    text-decoration: none;
    color:white;
}
.logo{
    width:80px;
}
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
    width:100%;
    background:url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=2000");
    padding-left:0 10vw;
}
.section2 > h1{
    width: 80vw;
    font-size: 3rem;
    /* color: #1434A4; */
    margin: 10vw 10vw;
    /* border:2px solid black; */
}
.homepageimage > img{
    object-fit: contain;
    width: 100%;
    /* border:2px solid black; */
}
.homepageimage{
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center ;
    object-fit: cover;
    /* margin:5%; */
    padding:2vh;
    /* border:2px solid black; */
}
.section3{
    width:auto;
}
.section3__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section3__card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border:2px solid black;   */
    margin: 10px;
    width:80%;
}
.section3__card > img{
    width: 30%; 
    height: 30%;
}
.section3__card > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:50%;
}
.section4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:5%;
    flex-direction: column;
}
.sectionHeading{
    font-size: 2rem;
    color: #1434A4;
    margin-bottom:4vh;
}
.aboutCard{
    margin:10%;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    
}
.aboutCard > button {
    background: transparent;
    height:10%;
    margin:10%;
    border:none;
    
}
.section5{
    display: flex;
    background: paleturquoise;
    width:80%;
    justify-self: center;
    border-radius: 1vh;
    padding:2%;
    margin:0;
    flex-direction: column;
    margin:5vh;
}
.contactDetails{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* border:2px solid black; */
    /* justify-content: space-between; */
}
.contactButtons{
    display: flex;
    flex-direction: column;
    /* margin:5%; */
}
.contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background: white;
    /* border:2px solid black; */
    width:100%;

}
.contactForm > form{
    padding:10%;
}
.contactForm > form > input{
    width:100%;
    border:none;
    border-bottom: 2px solid black;
    height: 20%;
    font-size: 2vh;
    margin:2vh; 
}
.contactForm > form > textarea{
    width:100%;
    border:none;
    border-bottom: 2px solid black;
    height: 10vh;
    font-size: 2vh;
    margin: 2vh;
}
.contactForm > form > button{
    border:none;
    background: peachpuff;
    padding:2vh;
    font-size:large;
    cursor: pointer;
    border-radius: 10px;
    margin:10px;
}
.contactButtons > button{
    border:none;
    background: transparent;
    margin:5%;

    /* width:30%; */
    /* border:2px solid black; */

}
.contactButtons > button > img{
    width: 15%;
    /* height: 20%; */
}

.section6{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:60vh;
    width:100%;
    background: darkslategray;  
}
@media only screen and (max-width: 900px) {
    .section2{
        flex-direction: column;
    }
    .contactDetails{
        flex-direction: column;
    }
    .contactButtons{
        flex-direction: row;
    }
    .contactButtons > button {
        width:50vw;
    }
    .contactForm{
        width:100%;
    }
}
.homepageNavbar{
    min-width: 20%;
    min-height:2vh;
    padding:2vh;
    border-radius:40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #e6ebfc89;
    border:1px solid rgba(0, 0, 0, 0.225);
    position:fixed;
    bottom:5vh;
}
.homepageNavbar > button{
    width:fit-content;
    padding:5%;
    margin:5%;
    border:none;
    background: transparent;
    cursor: pointer;
}
